---
import "katex/dist/katex.min.css";
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import MarkdownBody from "@/components/MarkdownBody.astro";
import PostBookArea from "@/components/PostBookArea.astro";
import PostMeta from "@/components/PostMeta.astro";
import PostNavLinks from "@/components/PostNavLinks.astro";
import Figure from "@/components/markdown/Figure.astro";
import TbocAccordion from "@/components/widget/TbocAccordion.astro";
import TbocSide from "@/components/widget/TbocSide.astro";
import MainGridLayout from "@/layouts/MainGridLayout.astro";
import { getSortedBlogs } from "@/utils/content-utils";
import { getGitInfo } from "@/utils/git";

interface Props {
  entry: CollectionEntry<"blog">;
}

export async function getStaticPaths() {
  const blogEntries = await getSortedBlogs();
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry }
  }));
}

const { entry } = Astro.props;
const { Content, headings } = await entry.render();
const {
  data: { title, pubDate, updateDate, tags, description, isAdLink }
} = entry;
const blogOgp = entry.data.ogp ||`/api/og/${entry.slug}.png`;
---
<MainGridLayout
  pageTitle={title}
  description={description}
  blogOgp={blogOgp}
  gridType="post"
  >

  <div class="side-left">
    {headings.length > 0 && (
      <TbocSide headings={headings} />
    )}
  </div>

  <article class="article">
    <div class="u-header-height-area"></div>
    <div class="article-container">
      <header class="header">

        <h1 class="title">{title}</h1>

        <div class="header__wrap">
          <PostMeta date={pubDate} updateAt={updateDate} tags={tags}  />
        </div>

        { isAdLink && (
          <div class="adLink-info">
            記事内に商品プロモーションを含む場合があります
          </div>
        )}
      </header>

      {headings.length > 0 && (
        <TbocAccordion headings={headings} />
      )}

      <MarkdownBody>
        <Content components={{ img: Figure }} />
      </MarkdownBody>
    </div>
  </article>

  <div class="side-right">
    <PostMeta date={pubDate} updateAt={updateDate} tags={tags}  />

    {entry.data.image && (
      <div class="side-title">image</div>
      <div class="side-image">
        <Image src={entry.data.image} alt={title} />
      </div>
    )}
  </div>

  <!-- <PostNavLinks entry={entry} /> -->

  <!-- <div class="post-book-area">
    <PostBookArea />
  </div> -->

</MainGridLayout>

<style lang="scss">

  .article {
    padding-bottom: 2.5rem;
  }

  .article-container {
    max-width: var(--post-max-width);
    margin-inline: auto;
    padding-inline: 1rem;
  }

  .header {
    margin-bottom: 0.75rem;

    &__wrap {
      display: none;
      @include mixin.phone {
        display: block;
      }
    }
  }

  .title {
    font-size: 1.05rem;
    margin-top: 0.25rem;
  }
  .adLink-info {
    background: linear-gradient(135deg,transparent 25%,rgba(0,0,0,.05) 25%,rgba(0,0,0,.05) 50%,transparent 50%,transparent 75%,rgba(0,0,0,.05) 75%,rgba(0,0,0,.05));
    background-size: 4px 4px;
    padding: 0.25rem 0.5rem;
    text-align: center;
    font-size: 0.75rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

  .post-book-area {
    margin-top: 2rem;
    @include mixin.mobile {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
  }
</style>