---
import ChipLayout from "@/components/ChipLayout.astro";
import { tagsList } from "@/data/blog/tags";
import MainGridLayout from "@/layouts/MainGridLayout.astro";

const chips = tagsList.map(({ name, slug }) => ({
  name,
  url: `/blog/tag/${slug}`
}));
const title = "Tag一覧";

const pageTitle = "Tag";
const description = "Tag一覧";
---

<MainGridLayout
  pageTitle={pageTitle}
  description={description}
  >
  <div class="container">
    <ChipLayout chips={chips} title={title} />
  </div>
</MainGridLayout>

<style lang="scss">
  .container {
    padding: 1.5rem 1rem 2.5rem;
  }
</style>