---
import type { CollectionEntry } from "astro:content";
import PostCard from "@/components/PostCard.astro";
import type { Page } from "astro";

interface Props {
  page: Page<CollectionEntry<"blog">>;
}

const { page } = Astro.props;
---

<ul class="post-list">
  {page.data.map(entry => (
    <li>
      <PostCard
        url={`/blog/${entry.slug}`}
        title={entry.data.title}
        date={entry.data.pubDate}
        image={entry.data.image}
        category={entry.data.category}
        tags={entry.data.tags}
        description={entry.data.description}
      />
    </li>
  ))}
</ul>

<style lang="scss">
  .post-list {
    > * + * {
      margin-top: 1rem;
    }
  }
</style>