---
import { Image } from "astro:assets";
import { renderExcerpt } from "@/scripts/MarkdownToHtml";
import type { BlogPostData } from '@/types/config';
import { formatDateToYYYYMMDD } from "@/utils/date-utils";
import { Icon } from "astro-icon/components";

interface Props {
  post: { body: string; data: BlogPostData; slug: string };
}

const { post } = Astro.props;
const html = renderExcerpt(post.body);
const dateString = formatDateToYYYYMMDD(post.data.pubDate);
const isUpdate = post.data.updateDate !== undefined;
const updateDateString = isUpdate ? formatDateToYYYYMMDD(post.data.updateDate as Date) : null;
---

<article class="controlPanel-card">
  <a href={`/blog/${post.slug}`} class="controlPanel-card__link">
    <div class="controlPanel-card__title-wrap">
      <span class="controlPanel-card__title text-ellipsis">
        {post.data.title}
      </span>
        {post.data.pin ?
          <span class="controlPanel-card__icon">
            <Icon name="basil:pin-solid" />
          </span>
        : null}
    </div>
    <div class="controlPanel-card-body">
      <div class="controlPanel-card__left">

        {post.data.image ? (
          <div class="controlPanel-card__meta-image-title">image</div>
          <div class="controlPanel-card__meta-image">
            <Image src={post.data.image} alt="" />
          </div>
        ) : <div class="controlPanel-card__top" />}

        <div class="controlPanel-card__body" set:html={html} />
      </div>
      <div class="controlPanel-card__right">
        <div class="controlPanel-card__meta-title">Meta Data</div>
        <div class="controlPanel-card__meta-content">
          <div class="controlPanel-card__meta-item">公開日:{dateString}</div>
          {isUpdate && (
            <div class="controlPanel-card__meta-item">更新日:{updateDateString}</div>
          )}
          <div class="controlPanel-card__meta-tags">
            Tags:
            <div class="controlPanel-card__meta-tag-wrap">
              {post.data.tags.map((tag, i) => (
                <div class="controlPanel-card__meta-tag">#{tag}</div>
              ))}
            </div>
          </div>
        </div>

      </div>
    </div>
  </a>
</article>

<style lang="scss">
  .controlPanel-card-body {
    font-size: 0.75rem;
    display: grid;
    grid-template-columns: minmax(0, 1.5fr) 1fr;
    height: 100%;
    transition-property: background-color;
    transition-duration: 0.3s;

    @include mixin.phone {
      display: none;
    }

    @include mixin.hover {
      background-color: var(--hover-color);
    }

    img {
      filter: grayscale(0.8);
    }
  }
  .controlPanel-card {
    width: 100%;
    border-bottom: 1px solid var(--border-color);

    @include mixin.phone {
      border-bottom: none;
    }

    &__left {
      border-right: 1px solid var(--border-color);
    }

    &__top,
    &__meta-title,
    &__meta-image-title {
      height: 1.25rem;
      border-bottom: 1px solid var(--border-color);
      padding-left: 0.25rem;
    }

    &__meta-content {
      padding: 0.25rem;
      border-bottom: 1px solid var(--border-color);
    }

    &__meta-tags {
      display: flex;
      column-gap: 0.25rem;
    }
    &__meta-tag-wrap {
      display: flex;
      flex-wrap: wrap;
      column-gap: 0.4rem;
      row-gap: 0.25rem;
      // flex-direction: column;
    }
    &__meta-tag {
      font-family: var(--ff-jp);
      letter-spacing: -0.05em;
      font-size: 0.7rem;
    }

    &__meta-image {
      padding: 0.45rem;
      border-bottom: 1px solid var(--border-color);
    }
  }
</style>