---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import SubArticle from "@/components/SubArticle.astro";
import InfoSide from "@/components/widget/InfoSide.astro";
import MainGridLayout from "@/layouts/MainGridLayout.astro";

const workPosts = await getCollection("work");
const pageTitle = "Work";
const description = "個人開発したものの一覧です。";
---

<MainGridLayout
  pageTitle={pageTitle}
  description={description}
  gridType="list"
>
  <div class="side-left">
    <InfoSide />
  </div>

  <SubArticle>
    <div class="stack">
      {workPosts.map((post) => (
        <a href={post.data.link} class="card" target="_blank" rel="noreferrer">
          <div class="card__img">
            <Image src={post.data.image} alt={post.data.title} />
          </div>
          <div class="card__body">
            <h2 class="card__title">{post.data.title}</h2>
            <p class="card__desc" set:html={post.data.description} />
          </div>
        </a>
      ))}
    </div>
  </SubArticle>
</MainGridLayout>

<style lang="scss">
  .stack {
    > * + * {
      margin-top: 3rem;
    }
  }
  .card {
    display: grid;
    grid-template-columns: 1fr 1.8fr;
    gap: 1.5rem;
    border: 2px solid transparent;
    transition-property: background, border-color;
    transition-duration: 0.4s;
    @include mixin.mobile {
      gap: 1rem;
    }
    @include mixin.phone {
      grid-template-columns: 1fr;
    }
    @include mixin.hover {
      background: var(--hover-color);
    }
    &__img {
      img {
        border-radius: 0.25rem;
        overflow: hidden;
      }
    }
    &__title {
      font-size: 1.25rem;
      @include mixin.phone {
        font-size: 1.1rem;
      }
    }
    &__desc {
      margin-top: 0.5rem;
      line-height: 1.35;
      font-size: 0.875rem;
    }
  }
</style>